/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
body {
  font-family: 'Galdeano', sans-serif;
  padding: 2em 8em;
}

/* line 26, ../sass/screen.scss */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 34, ../sass/screen.scss */
h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 42, ../sass/screen.scss */
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 50, ../sass/screen.scss */
h4 {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 0.25em;
}

/* line 59, ../sass/screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
h1 a:active, h1 a:focus, h2 a:active, h2 a:focus, h3 a:active, h3 a:focus, h4 a:active, h4 a:focus, h5 a:active, h5 a:focus, h6 a:active, h6 a:focus {
  outline: none;
}

/* line 64, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 68, ../sass/screen.scss */
blockquote {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  overflow: hidden;
  *zoom: 1;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  padding: 1em;
}
/* line 78, ../sass/screen.scss */
blockquote p {
  margin-bottom: 0em;
}

/* line 83, ../sass/screen.scss */
code {
  font-family: "Lucida Console", monospace;
  font-size: 0.8em;
  color: #333;
}

/* line 89, ../sass/screen.scss */
dd {
  margin-left: 2em;
}

/* line 93, ../sass/screen.scss */
dl {
  margin-left: 1em;
}

/* line 97, ../sass/screen.scss */
dt {
  font-weight: bold;
}

/* line 101, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 105, ../sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 109, ../sass/screen.scss */
pre {
  margin: 1em 2em;
}

/* line 113, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 117, ../sass/screen.scss */
ul {
  margin-left: 1em;
  margin-bottom: 1em;
  list-style-type: disc;
}

/* line 125, ../sass/screen.scss */
header {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  overflow: hidden;
  *zoom: 1;
  padding: 0.5em;
  background: #eee;
  margin-bottom: 2em;
}
/* line 134, ../sass/screen.scss */
header h1 {
  display: inline;
  float: left;
  font-size: 2.5em;
  margin-bottom: 0em;
}
/* line 139, ../sass/screen.scss */
header h3, header h4 {
  display: inline;
  float: right;
}

/* line 144, ../sass/screen.scss */
footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  overflow: hidden;
  *zoom: 1;
  padding: 0.5em;
  background: #eee;
  margin-bottom: 2em;
  font-size: 0.8em;
}

/* line 155, ../sass/screen.scss */
.right {
  display: inline;
  float: right;
  margin-right: 1em;
}

/* line 160, ../sass/screen.scss */
nav#TOC {
  display: inline;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  padding: 0.5em;
  background: #eee;
}
/* line 169, ../sass/screen.scss */
nav#TOC ul {
  margin-left: 0.75em;
  margin-bottom: 0em;
  list-style-type: none;
}
/* line 173, ../sass/screen.scss */
nav#TOC ul li {
  margin-bottom: 0.25em;
}
/* line 177, ../sass/screen.scss */
nav#TOC a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
nav#TOC a:active, nav#TOC a:focus {
  outline: none;
}
